* {
    box-sizing: border-box;
    font-family: 'quicksand';
}
/* nav bar*/
.logo {
    height: fit-content;
    width: 10vw;
}
.main-nav {
    display: flex;
    list-style: none;
    font-size: 2em;
    margin: 0;
    background-color:lightblue;
    overflow: hidden;
}
li {
    padding: 32px 40px;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: azure;

}
.push {
    margin-left: auto;
}
/* main cover */
.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-image: url(assets/cover3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.text {
    padding: 60px;
    width: 60%;
    
}

h1 {
    text-align: center;
    margin: 0;
    padding: 34px;
    color: brown;
    font-size: 44px;
}
h2 {
    text-align: center;
    margin: 0;
    padding: 30px;
    color: brown;
    font-size: 35px;
}
.col {
    display: flex;
    width: 40%;
    justify-content: center;
    
}
.area {
    max-width: 200px;
    height: 200px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 24px;
    color:brown;
    border: 3px dashed orange;
    border-radius: 10px;
    margin: 20px;
}
.drop {
    display: flex;
    flex-direction: column;
    
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}
.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: gray;
    background-size: cover;
    position: relative;

}
.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: white;
    background: black(0,0,0, 0.7);
    font-size: 14px;
    text-align: center;
}

.section {
    margin-left: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 50px;
}

hr.bar {
    margin-top: 20px;
   border: solid 2px gray;
}
.btn {
    align-items: flex-end;
    justify-content: center;
    margin-right: 20px;
}

#card {
    width: 33vw;
    height: 43vh;
    background-color: white;
    border-radius: 8px;
    display: none;
    font-size: 25px;
}

#inputName {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}
#Logo {
    align-items: center
    width 30px;
    height: 30px;

    }
#left {
    padding: 18px;
    float: left;
}

#right {
    padding: 18px;
    float: right;
}
/* }
#inputCategory{

}

#inputPhone {
    
}


#inputEmail {
    
}

#inputWebsite {
    
}

#inputFacebook {
    
}

#inputAdress {
    
/*  */