body {
    margin: 0;
    background-color: whitesmoke;
}
.gray {
    background-color: whitesmoke;
    cursor: pointer;
    color: black;
    font-size: 2em;
    border-radius: 4px;
    border: 1px solid black;
    transition: all 0.3s;
}   
.head {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;   
}
.push {
    margin-left: auto;
    background-color: blue;
    color: white;
}
li {
    padding: 20px;

}

a {
    color: black;
    text-decoration: none;

}
.cont {
    position: relative;
    text-align: center;
    color: white;
    background-color: whitesmoke;
    
    }
.textbox {
      font-size: 60px;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);

}
form {
    position: relative;
    bottom: 300px;
      
}

input[type=email] {
    width: 30%;
    top: 0px;
    height: 40px;
    margin-right: 30px;
    
}
button {
    margin-left: 10px;
    margin: auto;
    padding: 10px;
    font-size: 20px;
    background-color: blue;
    color: aliceblue;
    position: absolute;
    text-align: center;
    align-content: center;
    align-items: center;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
}
.cont2 {
    display: flex;
    background-color: whitesmoke;
    margin: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    }

.card {
    text-align: center;
    padding: 20px;
    border: grey solid 1px;
    width: 45vh;
    height: 40vh;
    margin: 20px;
    padding-top: 150px;

}