<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .alert-error {
            background-color: red
            color: white
<!--            font-size: 20px;-->
            }

        .alert-success {
            background-color: green;
            color: black;
            }
    </style>
</head>
<body>
    <h1>HELLLOOOOO</h1>
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert-{{category}}">important msg: {{ message }}</div>
    {% endfor %}
</body>
</html>