{% extends 'base.html' %}

{% block my_block %}

<h7> Hello {{ card.name }}! <br>
     Here is your beautiful card</h7>

            <div class="mid">
                <div class="box" id="card">
                     <div class="left" id="left">
                         <img class="image" src="{{ img }}"><br><br>
                        <h2><b>{{ card.name.capitalize() }}</b></h2>
                        <hr class="hr">
                        <h2> {{ card.category }} </h2><br>
                         <h2><b> {{ card.sentence }}</b></h2>
                     </div>
                     <div class="right" id="right">
                         <p> <i class="fa-solid fa-at fa-1x"></i> &nbsp;{{ card.email }}<br><br></p>
                         <p> <i class="fa-solid fa-phone fa-1x">&nbsp; </i> {{ card.phone }}</p><br>
                         <p><a href="{{card.website}}"><i class="fa-solid fa-link fa-1x"></i>&nbsp; website<br><br></a></p>
                         <p><a href="{{card.facebook}}"><i class="fa-brands fa-facebook fa-1x"></i>&nbsp; facebook page<br><br></a></p>
                         <p><i class="fa-solid fa-location-dot fa-1x"></i>&nbsp; {{ card.address }}</p>
                     </div>
                     <a class="btn btn-primary" href="{{ url_for('update') }}">Update info</a>
                </div>

          {% if card.liked_by %}
            <h8> Liked by: </h8>
            {%  for user in card.liked_by  %}
            <strong><h6> &hearts; {{  user.name }}</h6></strong>
            {%  endfor  %}
          {% endif %}
          </div>


            <div id="userDesign">
                <div class="cont2">
                    <input class="color1" type="color" name="color1" value="#ffffff">
                    <input class="color2" type="color" name="color2" value="#ffffff">
                    <h5>choose your background colors</h5>
                    <input class="color3" type="color" name="color3" value="#050505">
                    <input class="color4" type="color" name="color4" value="#050505">
                    <h5>choose your text colors</h5>
                    <button class="button" id="fontBtn">click to change font</button>
                </div>
            </div>


{% endblock %}