{% extends 'base.html' %}

{% block my_block %}

    <div class="center form-control-lg">

           <form method="POST">

               {% with messages = get_flashed_messages() %}
               {% if messages %}
               {{ messages[0] }}
               <br>
               {% endif %}
               {% endwith %}

            {{ form.hidden_tag() }}

            {{ form.name(size=36, class="input-design", placeholder="name") }}
            <br>
            {{ form.email(size=36, class="input-design", placeholder="email") }}
            <br>
            {{ form.password(size=36, class="input-design", placeholder="password") }}
            <br>
                {{ form.submit(class="btn btn-primary") }}
          </form>
    </div>

{% endblock %}