{% extends 'base.html' %}

{% block my_block %}

        <h4> Prolo is a home for independent business owners. our mission is to
                    connect the best businesses to their most accurate costumers.  <br>
                    we want to help you grow your audience and make your relations stronger,
                    so it's a win win situation for everyone!    <br> <br>
                    when yourself need a proffesional, you know where is the right place to find it, because here its where all the magic happens :) enjoy <br></h4>

{% endblock %}