{% extends 'base.html' %}

{% block my_block %}

    <div class="center form-control-lg">

           <form method="POST"  enctype="multipart/form-data">

            {{ form.hidden_tag() }}

            {{ form.name(size=36, class="input-design", value=card.name) }}
            <br>
            {{ form.category(size=36, class="input-design", value=card.category) }}
            <br>
            {{ form.phone(size=36, class="input-design", value=card.phone) }}
            <br>
            {{ form.email(size=36, class="input-design", value=user.email) }}
            <br>
            {{ form.website(size=36, class="input-design", value=card.website) }}
            <br>
            {{ form.facebook(size=36, class="input-design", value=card.facebook) }}
            <br>
            {{ form.address(size=36, class="input-design", value=card.address) }}
            <br>
            {{ form.sentence(size=36, class="input-design", value=card.sentence) }}
            <br> <br>
            <input type=file name=file>
            <br>
                {{ form.submit() }}
          </form>
    </div>

{% endblock %}